<% if(footer){ %>
</div>
    <div class="footer text-zinc-950 dark:text-white flex justify-between items-center w-full md:w-[40vw] md:mx-[29.5vw] md:h-[5vw] fixed bottom-0 z-[10] bg-white dark:bg-slate-900 px-10 py-3">
        <a href="/feed"><i class="text-[1.4rem] ri-home-line"></i></a>
        <a href="/search"><i class="text-[1.4rem] ri-search-line"></i></a>
        <a href="/upload"><i class="text-[1.4rem] ri-add-box-line"></i></a>
        <a href="/reel" class="block dark:hidden"><i class="text-[1.4rem] ri-movie-2-line "></i></a>
        <a href="/reel" class=" hidden dark:block">
          <div class="w-6 h-6  rounded-full overflow-hidden">
            <img  class=" h-full w-full object-cover object-center" src="https://ik.imagekit.io/yashyadav/icons8-reels-50.png?updatedAt=1717705368926" alt="" srcset="">
          </div>
        </a>
        <a href="/profile">
          <div class="w-6 h-6 bg-zinc-300 rounded-full overflow-hidden">
            <img  class=" h-full w-full object-cover object-center" src="<%= user.profileImage %>" alt="" srcset="">
          </div>
        </a>
      </div>
<% } %>
<script>

document.addEventListener("DOMContentLoaded", function () {
  const lazyVideos = document.querySelectorAll("video.lazy-video");

  if ("IntersectionObserver" in window) {
    const videoObserver = new IntersectionObserver(function (entries, observer) {
      entries.forEach(function (entry) {
        if (entry.isIntersecting) {
          const video = entry.target;
          video.querySelector("source").src = video.dataset.src;
          video.load();
          video.classList.remove("lazy-video");
          videoObserver.unobserve(video);
        }
      });
    });

    lazyVideos.forEach(function (video) {
      videoObserver.observe(video);
    });
  }
});

  
  document.addEventListener("DOMContentLoaded", function(event) { 
      var scrollpos = localStorage.getItem('scrollpos');
      if (scrollpos) window.scrollTo(0, scrollpos);
  });

  window.onbeforeunload = function(e) {
      localStorage.setItem('scrollpos', window.scrollY);
  };
</script>

</body>
</html>