<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Your Ultimate Social Network</title>
    <meta name="description" content="Join Social to connect with friends, share photos and videos, engage in meaningful conversations, and stay updated with your network. Experience the next level of social networking.">
    <meta name="keywords" content="social media, networking, photo sharing, video sharing, friends, community, social engagement, online connections">
    <link rel="canonical" href="https://social-media-e6lt.onrender.com">
    <meta property="og:title" content="Social - Your Ultimate Platform for Connecting and Sharing">
    <meta property="og:description" content="Connect with friends, share your life moments, and stay engaged with your community on Social. Join now for a richer social experience!">
    <meta property="og:image" content="https://social-media-e6lt.onrender.com/images/social-og-image.jpg">
    <meta property="og:url" content="https://social-media-e6lt.onrender.com">
    <meta property="og:type" content="website">
    <link rel="shortcut icon" href="/images/icons8-instagram-48.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "Social",
      "url": "https://social-media-e6lt.onrender.com",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://social-media-e6lt.onrender.com/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
    </script>
</head>
<body>
    <div class="bg-zinc-900 w-full">